<h2 class="text-center mt-3">INSERISCI I TUOI DATI</h2>
<div class="ml-5 mr-5 mt-3 border border-primary rounded">
	<form [formGroup]="telefoniForm" (ngSubmit)="onSubmit()" class="text-center p-3">

		nome: <input [formControl] = "telefoniForm.controls['nomeControl']"> 
     <div *ngIf="!telefoniForm.controls['nomeControl'].valid" class="alert alert-danger">"nome" non è valido</div>
            <div *ngIf="telefoniForm.controls['titleControl'].hasError('required')" class="alert alert-danger">"nome" è richiesto</div>
    <br>
    cognome: <input [formControl] = "telefoniForm.controls['cognomeControl']"> 
     <div *ngIf="!telefoniForm.controls['cognomeControl'].valid" class="alert alert-danger">"cognome" non è valido</div>
            <div *ngIf="telefoniForm.controls['cognomeControl'].hasError('required')" class="alert alert-danger">"cognome" è richiesto</div>
    <br>
    email: <input [formControl] = "telefoniForm.controls['emailControl']"> 
     <div *ngIf="!telefoniForm.controls['emailControl'].valid" class="alert alert-danger">"email" non è valido</div>
            <div *ngIf="telefoniForm.controls['emailControl'].hasError('required')" class="alert alert-danger">"email" è richiesto</div>
    <br>
    <div *ngIf="!telefoniForm.valid" class="alert alert-danger">Il form non è valido</div>
   <button class="btn btn-success btn-block" type="add" [disabled]="!telefoniForm.valid"> LOGIN </button>
  </form>

<div class="w-50 text-center" style="margin: 50px auto">
  <h2>ELENCO REGISTRAZIONI</h2>
  <ul class="list-group">
    <li *ngFor="let telefono of telefoni" class="list-group-item text-center"  (click)="onSelect(telefono)">
      {{ telefono.nome }} - {{ telefono.cognome }} - {{ telefono.email }}</li>
  </ul>
   <app-view-telefonia *ngIf="telefonoSelezionato" [telefono]="telefonoSelezionato"></app-view-telefonia>
</div>